<div class="jumbo">

    {{#vk-log-in controller=this}}
    {{/vk-log-in}}

    {{#user-dialogs controller=this}}
    {{/user-dialogs}}


    {{#dialog-messages controller=this}}
    {{/dialog-messages}}

</div>
