<h3><button {{action "goToMain"}} class="btn btn-default">Main</button></h3>

<ul>
  {{#each messages as |message|}}
    <li>
      {{message.body}}
      <button class="btn btn-default">кек</button>
    </li>
  {{/each}}
</ul>