<link rel="stylesheet" href="libs/reset/reset.css" />
<link rel="stylesheet" href="css/css/app.css" />
<link rel="stylesheet" href="libs/menu-button/menu-button.css" />
<link rel="stylesheet" href="libs/switchery/switchery.css" />
<link rel="stylesheet" href="libs/nanoScroller/nanoscroller.css">

<script type="text/javascript">
   function addScript( src ) {
      var s = document.createElement( 'script' );
      s.setAttribute( 'src', src );
      document.body.appendChild( s );
      return s;
   }

   addScript("libs/menu-button/menu-button.js").onload = function() {
      addScript("libs/switchery/switchery.js").onload = function() {
         addScript("libs/nanoScroller/jquery.nanoscroller.js").onload = function() {
            addScript("js/common.js").onload = function() { return; }
         }
      }
   }
</script>

<header>
  <div class="dialog-menu">
    <a href="#" class="c-hamburger c-hamburger--htx"  id="menu-button">
       <span>toggle menu</span>
       VK Spy
    </a>
    <nav>
       <ul>
          <li><a href="#" class="option">{{input type="checkbox" class="js-switch" checked=VKSpy.isOnline }}Online</a></li>
          <li><a href="#" class="option">{{input type="checkbox" class="js-switch" checked=VKSpy.isReading }}Read messages</a></li>
          <li><a href="#" class="option">{{input type="checkbox" class="js-switch" checked=VKSpy.isTyping }}Typesetting</a></li>
       </ul>
    </nav>
  </div>

  {{#vk-log-in controller=this}}
  {{/vk-log-in}}

</header>
<section class="main-window">

  {{#user-dialogs controller=this}}
  {{/user-dialogs}}


  {{#dialog-messages controller=this}}
  {{/dialog-messages}}

</section>