<div class="jumbo">
  <div class="right tomster"></div>
  <h2>TEST VK</h2>
  <h3><button {{action "toggleBody"}}>Go VK</button></h3>
  <h3><button {{action "sendMsg"}}>Semd Msg</button></h3>
  <h3><button {{action "setOnline"}}>Online</button></h3>

</div>
