<div class="jumbo">

  	<h3><button {{action "setOnline"}} class="btn btn-default">Online</button></h3>
{{!--  	
	<h3><button {{action "sendMsg"}} class="btn btn-default">Send Msg</button></h3>

  	<h3><button {{action "longPopServer"}} class="btn btn-default">Long pop server</button></h3>

  	<h3><button {{action "getDialogs"}} class="btn btn-default">Get dialogs</button></h3>
--}}

  	{{#vk-log-in}}
  	{{/vk-log-in}}

	{{#user-dialogs}}
  	{{/user-dialogs}}

</div>
